*.vs
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.dll
*.obj
*.exp
*.ilk
*.lib
*.pdb
*.log
*.txt
*.idb
*.pch
*.tlog
*.lastbuildstate

Deps/skse*
Deps/temp*
temp/
SmoothCam/bin
SmoothCam/bin-obj
enc_temp_folder/

SmoothCamMCM.psc
CodeGen/gen_addrmap/*.txt
/blend
*.blend
*.blend1
*.bin

.dub
docs.json
__dummy.html
docs/
CodeGen/ModelBaker/ModelBaker
CodeGen/ModelBaker/*.bin
CodeGen/ModelBaker/*.obj
CodeGen/ModelBaker/compiled_libs
CodeGen/ModelBaker/compiled_libs_debug
ModelBaker.so
ModelBaker.dylib
ModelBaker.dll
ModelBaker.a
ModelBaker.lib
ModelBaker-test-*
*.exe
*.o
*.obj
*.lst