*.vs
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.dll
*.obj
*.exp
*.ilk
*.lib
*.pdb
*.log
*.txt
*.idb
*.pch
*.tlog
*.lastbuildstate

Deps/skse*
Deps/temp*
temp/
SmoothCam/bin
SmoothCam/bin-obj
enc_temp_folder/

MCM/SmoothCamMCM.psc
CodeGen/gen_addrmap/*.txt